.app-switcher-container {
	// width: 500px;
	display: flex;
	justify-content: center;
}

.app-switcher-wrapper {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	background-color: royalblue;
	padding: 24px 40px;
	display: inline-block;
}
