.checkbox-container {
	input {
		// position: absolute;
		display: none;
		opacity: 0;
		cursor: pointer;
	}

	label {
		font-weight: normal !important;
		display: flex;
		align-items: center;
	}

	input:checked ~ .checkmark {
		background-color: #1a62d5;
		border: none;
	}
	input:checked ~ .checkmark:after {
		opacity: 1;
	}
}
.checkmark {
	// position: absolute;
	display: inline-block;
	background-color: none;
	border: 1px solid #b8b8b8;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	margin-right: 10px;
	position: relative;
	transition: 200ms;

	&:after {
		content: '';
		position: absolute;
		width: 6px;
		height: 15px;
		border-right: 2px solid white;
		border-bottom: 2px solid white;
		left: 50%;
		top: 50%;
		transform-origin: top;
		transform: rotate(45deg) translate(-50%, -50%);
		opacity: 0;
	}
}

.checkbox-input {
	width: 40px !important;
}

// .checkbox-label {
// 	font-weight: normal !important;
// 	display: block;
// }
